.content {
  width: 80%;
  margin: 40px auto;
  display: flex;
}

.content .map {
  width: 400px;
  height: 300px;
  margin: auto auto auto 10px;
}

.content .airlines-data {
  margin-top: 12px;
  width: 50%;
}

.content .airlines-data .contact-data h2, .content .airlines-data .contact-data h4 {
  color: #8C2149;
  margin: 0px;
}

.content .airlines-data h2, .content .airlines-data .contact-data {
  color: #2C2F75;
  width: 56%;
  margin: auto 0px auto auto;
}

.content .airlines-data .services-help {
  margin-bottom: 60px;
}
