.reservation-search {
  width: 80%;
  margin: auto;
}

.reservation-search h1 {
  text-align: left;
  margin-left: 50px;
  margin-top: 50px;
}

.reservation-search .search-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.reservation-search .search-content .search-form {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 30px;
  margin-top: 6px;
}

.reservation-search .search-content .search-form input {
  margin-left: 20px;
}

.reservation-search .search-content .search-form .btn.submit{
  margin-left: 20px;
  margin-top: 2px;
}
.reservation-search .search-content .reservation-search-results {
  margin-left: 70px;
  font-size: 16px;
}